.container {
    display:flex;
    align-items: center;
    position:relative;
    cursor:pointer;
}

.avatar-container {
    display:flex;
    align-items: center;
}

.avatar-container img {
    width:30px;
    height:30px;
    overflow: hidden;
    border-radius:50%;
}

.container .title {
    margin-left:4px;
}

.container .text {
    transform:scale(0.8);
    transform-origin:center;
}