.container{
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius:6px;
    padding:0 20px;
}

.formStyle{
    width: 100%;
    margin:0 auto;
    text-align: left;
    padding-top: 20px;
}
.loginButton{
    width: 100%;
}

