.container{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    height: 150px;
    padding:20px 10px;
    background: #fff;
    cursor: pointer;
    border-radius:6px;
    transition: all 1s ease-in;
}
.container:hover{
    box-shadow: 4px 4px 6px #d3d6d8;
}
.container>div:first-child>img{
    width: auto;
    height: 110px;
    border-radius:4px;
}

.container>div:first-child{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomContainer{
    flex: 5;
    padding:0 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.title{
    display: block;
    color: black;
    font-size: 16px;
    height: 50px;
    font-weight:600;
}
.bottomContainer>div{
    display: flex;
    flex-direction: row;
    border-top: dashed thin #ddd;
    
    justify-content: space-between;
    align-items: center;
}
.bottomContainer>div>p{
    display: flex;
    flex-direction: row;
    color: #cdcdcd;
}
.summary{
    font-size: 14px;
    padding-bottom:20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bottomContainer>div>p img{
    margin-right: 5px;
}
.bottomContainer>div>p>span{
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size:12px;
}
.bottomContainer>div span>img{
    width: 16px;
}
.lastSpan{
    font-size: 12px;
}
.lastSpan>span{
    font-size: 12px;
}
